@import "tailwindcss";

@theme {
  --color-mystic-purple: #6B46C1;
  --color-mystic-dark: #1E1B4B;
  --color-mystic-light: #A78BFA;
  --font-display: 'Smythe', cursive;
}

body {
  background: linear-gradient(to bottom right, rgb(59 7 100), rgb(76 29 149), rgb(49 46 129));
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Smythe', cursive;
}

.font-display {
  font-family: 'Smythe', cursive;
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-weight: bold !important;
}